.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects{
font-size: 18px;
}

#ac ,#bedroom ,#books ,#tv ,#desk {
    width: 200px;
    height: 50px;
} 

body{
    background-size: cover;
    background-position:center;
}